.Navbar {
  display: flex;
  justify-content: space-between;
  color: white;
}
.title {
  h4 {
    margin-top: 9%;
  }
  h1 {
    span {
      margin-left: 0.5rem;
      color: #ffc107;
      font-family: "Permanent Marker", cursive;
      letter-spacing: 0.2rem;
    }
  }
}
.search {
  background-color: #212121;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 8rem 1rem 1rem;
  border-radius: 1rem;
  svg {
    color: #ffc107;
  }
  input {
    background-color: transparent;
    border: none;
    color: #ffc107;
    font-family: "Permanent Marker", cursive;
    letter-spacing: 0.3rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #ffc107;
      font-family: "Permanent Marker", cursive;
    }
  }
}

