.Whole {
    height: 100vh;
    background-color: var(--background);
    margin: 1;
    position: relative;
   
  }
  
  .heading {
    color: #eff0f2;
    font-size: 19px;
    font-weight: lighter;
  }

  .form_heading{
    color: #eff0f2;
    padding-left: 2rem;
    font-size: 26px;
  }
  /* .foocter {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
  } */
  
  .detail {
    color: #999;
    font-size: 16px;
  }
  
  .g_form {
    position: absolute;
    background-color: #2e2d2d;
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 1rem;
  }

  .infoInput_reg {
    border: none;
    outline: none;
    background-color: #373737;
    color: #eff0f2;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    /* margin-left: auto; */
  }
  
  .textarea {
    width: 300px; 
    resize: none;
  }
  
  .title {
    justify-content: center;
    align-items: center;
  }
  
  .catagory{
     justify-content: center;
    align-items: center;
  }
  