.select {
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: #373737;
  color: #999;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  width: 16.6rem;
  height: fit-content;

}
.select::-ms-expand {
  display: none;
}
